table {
border-collapse: collapse;
}
body{background-size: cover;}
table th, table td {
border: solid 1px black;
background-color: white;
}
h1{
font-family:"Comic Sans MS";
}
table td {
width:15%;
height:15%;
}

.btn{
margin: 1em 0;
}
