table {
border-collapse: collapse;
}
body{background-size: cover;}
table th, table td {
border: solid 1px black;
background-color: white;
}

table td {
width:15%;
height:15%;
}

.btn{
margin: 1em 0;
}

.bingo-heading {
	text-align: center;
	font-size: 50px;
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  }

