<!DOCTYPE html>
<html>

<head>
  <title>BINGO</title>
  <meta http-equiv="content-type" charset="UTF-8">
  <link rel="stylesheet" href="./css/progen3.css?<?php echo time(); ?>" type="text/css"/>
</head>

<style>
  table {
    border-collapse: collapse;
  }

  table th, table td {
    border: solid 1px black;
  }
</style>

<body>
  <center>
    <h1>BINGO</h1>

    <table style="width: 300px; height: 300px;">
      <tbody>
        <tr align="center">
          <td id="cell1"></td>
          <td id="cell2"></td>
          <td id="cell3"></td>
          <td id="cell4"></td>
          <td id="cell5"></td>
        </tr>
        <tr align="center">
          <td id="cell6"></td>
          <td id="cell7"></td>
          <td id="cell8"></td>
          <td id="cell9"></td>
          <td id="cell10"></td>
        </tr>
        <tr align="center">
          <td id="cell11"></td>
          <td id="cell12"></td>
          <td id="cell13"></td>
          <td id="cell14"></td>
          <td id="cell15"></td>
        </tr>
        <tr align="center">
          <td id="cell16"></td>
          <td id="cell17"></td>
          <td id="cell18"></td>
          <td id="cell19"></td>
          <td id="cell20"></td>
        </tr>
        <tr align="center">
          <td id="cell21"></td>
          <td id="cell22"></td>
          <td id="cell23"></td>
          <td id="cell24"></td>
          <td id="cell25"></td>
        </tr>
      </tbody>
    </table>

  <button id="ButtonPushed">ルーレットを回す</button>
  <p id="outputNumber"></p>
  </center>
  
  <script type="text/javascript">
    // 乱数を生成し、表のセルにセットする関数
    function setRandomNumber() {
      var cells = document.querySelectorAll("td[id^='cell']");

      for (var i = 0; i < cells.length; i++) {
        var randomNumber = Math.floor(Math.random() * 200) + 1;
        cells[i].textContent = randomNumber;
      }
    }
    const button=document.getElementById('ButtonPushed');
    const output=document.getElementById('outputNumber');

    button.addEventListener('click',function(){
	var randomNum=Math.floor(Math.random()*200)+1;
	output.textContent='発表された番号：'+randomNum;
    });

    setRandomNumber(); // ページ読み込み時に初期のランダムな数をセット

  </script>
</body>

</html>
