{% extends "base.html" %}

{% block style %}
{% if context.open_cell %}

{% for cell in context.open_cell %}
<style>
  #{{ cell }} {
    background-color: #80ff9a;
    border: 2px solid green;
  }
</style>
{% endfor %}



{% endif %}
{% endblock %}


<!------------>

{% block content %}
<center>
  <h1>BINGO</h1>
  <a href="{{ url_for('reset') }}">
    <button type="button" class="btn btn-outline-secondary">reset</button>
  </a>
  <table style="width: 300px; height: 300px;">
    <tbody>
      {% set ns = namespace(index = 0) %}
      {% for i in context.your_num %}
      <tr align="center">
        {% for j in i %}
        <td id="cell_{{ ns.index }}">{{j}}</td>
        {% set ns.index = ns.index + 1 %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <button type="button" class="btn btn-primary btn-lg" onclick="location.href='{{ url_for('draw') }}'" >
    ルーレットを引く
  </button>

</center>
{% endblock %}

<!------------>

{% block result %}
{% if context.result %}

<center>
  <h1>{{context.result.new_number}}</h1>
  <div class="container-fluid">
    <p>引いた数字</p>
    <p>{{context.drawed_num | safe}}</p>
  </div>
</center>

{% endif %}
{% endblock %}
